*
!.bash_profile
!.bashrc
!.cargo
!.cargo/config.toml
!.config
!.config/clash
!.config/clash/config.yaml
!.config/fcitx5
!.config/fcitx5/conf
!.config/fcitx5/conf/*.conf
!.config/fcitx5/config
!.config/fcitx5/profile
!.config/fontconfig
!.config/fontconfig/
!.config/fontconfig/fonts.conf
!.config/fontconfig/fonts.conf
!.config/foot
!.config/foot/**
!.config/gtk-3.0/
!.config/gtk-3.0/**
!.config/gtk-4.0/
!.config/gtk-4.0/**
!.config/helix
!.config/helix/**
!.config/shadowsocks/
!.config/shadowsocks/config.json
!.config/sway
!.config/sway/**
!.config/waybar
!.config/waybar/**
!.config/zed
!.config/zed/settings.json
!.gitconfig
!.gitignore
!.npmrc
!scripts
!scripts/**
!suckless
!suckless/**
