*

!.gitignore
!.gitconfig

!.cargo/
!.cargo/config.toml
!.config/
!.config/fontconfig/
!.config/fontconfig/fonts.conf
!.config/fcitx5/
!.config/fcitx5/profile
!.config/fcitx5/config
!.config/fcitx5/conf/
!.config/fcitx5/conf/*.conf
!.config/gtk-4.0/
!.config/gtk-4.0/**
!.config/gtk-3.0/
!.config/gtk-3.0/**
!.config/sway/
!.config/sway/**
!.config/foot/
!.config/foot/**
!.config/shadowsocks/
!.config/shadowsocks/config.json
!.config/waybar/
!.config/waybar/**
!.config/zed/
!.config/zed/settings.json

!scripts/
!scripts/**
!suckless/
!suckless/**

!.bash_profile
!.bashrc
!.npmrc
