* {
  font-family: FiraCode;
  font-size: 2rem;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

window {
    background-color: rgba(0,0,0,0.6667);
}

button {
    padding: 0 0.8rem;   /* ≈10px */
    color: #8f8f8f;
}
button:focus,
button:hover {
    color: #3faf3f;
}

#cpu, #memory, #network, #pulseaudio, #temperature, #clock {
    margin: 0 2rem;
}
#cpu { color: #9fffff; }
#memory { color: #ffff9f; }
#network { color: #2faf2f; }
#pulseaudio { color: #ff9f9f; }
#temperature { color: #9f9fff; }
#clock { color: #ff9fff; }
#tray { margin: 0 2rem; }
