* {
  font-family: FiraCode;
  font-size: 1.3rem;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}

window {
    background-color: rgba(0,0,0,0.6667);
}

button {
    padding: 0 0.7rem;
    color: #afafaf;
}
button.focused {
    padding: 0 0.7rem;
    color: #4fef4f;
}

#cpu, #memory, #network, #pulseaudio, #temperature, #clock {
    margin: 0 0.8rem;
}
#cpu { color: #9fffff; }
#memory { color: #ffff9f; }
#network { color: #2faf2f; }
#pulseaudio { color: #ff9f9f; }
#temperature { color: #9f9fff; }
#clock { color: #efefef; }
