* {
    padding: 0 0px;
    margin: 0 0px;
    border: none;
    border-radius: 0;
    font-family: FiraCode;
    font-size: 26px;
}

window {
    background-color: rgba(0, 0, 0, 0.6667);
}
button {
    padding: 0 10px;
    color: #8f8f8f;
}
button.focused {
    padding: 0 10px;
    color: #3faf3f;
}

#cpu {
    margin: 0 12px;
    color: #9fffff
}
#clock {
    margin: 0 12px;
    color: #ff9fff
}
#memory {
    margin: 0 12px;
    color: #ffff9f
}
#network {
    margin: 0 12px;
    color: #2faf2f
}
#pulseaudio {
    margin: 0 12px;
    color: #ff9f9f
}
#temperature {
    margin: 0 12px;
    color: #9f9fff
}
#tray {
    margin: 0 12px;
}
