[Desktop Entry]
Name=Feishu
Exec=feishu --ozone-platform-hint=auto --enable-wayland-ime wayland-text-input-version=3 %U
StartupNotify=true
Terminal=false
Type=Application
MimeType=message/rfc822;x-scheme-handler/feishu;x-scheme-handler/feishu-open;x-scheme-handler/lark;x-scheme-handler/x-feishu;
